table {
  border-collapse: collapse;
  margin: 50px auto;
}

td {
  cursor: pointer;
  width: 45px;
  height: 45px;
  border: 1px solid black;
  text-align: center;
}

#game {
  display: flex;
}

.message {
  text-align: center;
  margin: 10px;
}
